<div>
    <div class="card-panel teal lighten-5" style="margin-top: 0">
        <form class="container">
            <div class="row" style="margin-bottom: 0">
                <div class="col s12 m3 l3">
                    <div class="col s12">
                        <label for="koridor">Nama Koridor</label>
                        <input id="koridor" type="text" class="validate" placeholder="Koridor 1">
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="row">
                        <div class="col s8">
                            <label for="lokasi">Lokasi</label>
                            <input disabled value="Pilih lokasi klik map!" id="lokasi" type="text" class="validate">
                        </div>
                        <div class="col s4" style="padding-top: 30px">
                            <a href="#map-modal" class="btn grey darken-1 waves-effect waves-light modal-trigger"><span class="fa fa-map-marker"></span> Map</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m3 l3 right">
                    <div class="row">
                        <div class="col s12">
                            <div class="switch">
                                <label>
                                    <span id="tidakaktif">Tidak Aktif</span>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    <span id="aktif">Aktif</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12" style="padding-top: 20px">
                            <div class="col btn waves-effect waves-light">Tambah Koridor</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="card-panel">
                <table class="centered highlight">
                    <thead>
                    <tr>
                        <th data-field="id">NO.</th>
                        <th data-field="name">KORIDOR</th>
                        <th data-field="price">LOKASI</th>
                        <th data-field="price">AKSI</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Koridor 1</td>
                        <td>$0.87</td>
                        <td>
                            <div class="row">
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a href="#edit-modal" class="modal-trigger col s12 btn red waves-effect waves-light">EDIT</a>
                                </div>
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a class="col s12 btn grey darken-1 waves-effect waves-light">HAPUS</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Koridor 1</td>
                        <td>$3.76</td>
                        <td>
                            <div class="row">
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a href="#edit-modal" class="modal-trigger col s12 btn red waves-effect waves-light">EDIT</a>
                                </div>
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a class="col s12 btn grey darken-1 waves-effect waves-light">HAPUS</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Koridor 1</td>
                        <td>$3.76</td>
                        <td>
                            <div class="row">
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a href="#edit-modal" class="modal-trigger col s12 btn red waves-effect waves-light">EDIT</a>
                                </div>
                                <div class="col push-m3 push-l3 s12 m3 l3">
                                    <a class="col s12 btn grey darken-1 waves-effect waves-light">HAPUS</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div>

    <!--MODAL STRUCTURE-->
    <div id="map-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s8">
                    <!--PUT MAP HERE NAH-->
                </div>
                <div class="col s4">
                    <div class="row"><h5>Lokasi Terpilih</h5></div>
                    <div class="row">
                        <label>Lokasi 1</label>
                        <p>Jl.Sultan Alauddin</p>
                    </div>
                    <div class="row">
                        <label>Lokasi 2</label>
                        <p>Jl.Sultan Alauddin</p>
                    </div>
                    <div class="row">
                        <label>Lokasi 3</label>
                        <p>Jl.Sultan Alauddin</p>
                    </div>
                    <div class="row"><a class="btn grey darken-1 waves-effect waves-light"><span class="fa fa-plus"></span> Lokasi</a> </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close btn red waves-effect waves-light">OK</a>
            <a class="modal-action modal-close btn-flat waves-effect waves-light">BATAL</a>
        </div>
    </div>
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <h5>Edit Koridor</h5>
            <div class="row" style="margin-bottom: 0">
                <div class="col s12 m12 l12">
                    <div class="row">
                        <div class="col s12">
                            <label for="koridor">Nama Koridor</label>
                            <input id="koridor-edit" type="text" class="validate" placeholder="Koridor 1">
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l12">
                    <div class="row">
                        <div class="col s8">
                            <label for="lokasi">Lokasi</label>
                            <input disabled value="Pilih lokasi klik map!" id="lokasi-edit" type="text" class="validate">
                        </div>
                        <div class="col s4" style="padding-top: 30px">
                            <a href="#map-modal" class="btn grey darken-1 waves-effect waves-light modal-trigger"><span class="fa fa-map-marker"></span> Map</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m12 l12 right">
                    <div class="row">
                        <div class="col s12">
                            <div class="switch">
                                <label>
                                    <span id="tidakaktif-edit">Tidak Aktif</span>
                                    <input type="checkbox">
                                    <span class="lever"></span>
                                    <span id="aktif-edit">Aktif</span>
                                </label>
                            </div>
                        </div>
                        <div class="col s12" style="padding-top: 20px">
                            <div class="col btn waves-effect waves-light">Tambah Koridor</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close btn red waves-effect waves-light">SIMPAN</a>
            <a class="modal-action modal-close btn-flat waves-effect waves-light">BATAL</a>
        </div>
    </div>
</div>
