<div class="container">
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s4 m4 l4" input-field>
                        <input type="text" ng-model="koridor.nama_koridor" name="nama_koridor" required>
                        <label>Nama Koridor</label>
                    </div>
                    <div class="col s4 m4 l4"  input-field>
                        <a ng-click="submitForm()" class="btn red waves-effect waves-light" ng-disabled="koridor.nama_koridor != ''">Simpan</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s4 m4 l4 input-field">
                        <a ng-click="openModal('tambah-rute')" class="btn waves-effect waves-light"> Tambah Rute <i class="zmdi zmdi-google-maps"></i></a>
                    </div>
                    <div class="col s4 m4 l4 input-field">
                        <a class="btn waves-effect waves-light"> Kembali </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-panel">

            <table class="centered highlight">
                <thead>
                <tr>
                    <th data-field="no">NO.</th>
                    <th data-field="nama">RUTE</th>
                    <th data-field="lokasi">LATITUDE</th>
                    <th data-field="lokasi">LONGITUDE</th>
                    <th data-field="aksi">AKSI</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rute in list_rute">
                    <td>{{$index+1}}</td>
                    <td>{{rute.nama}}</td>
                    <td>{{rute.latitude}}</td>
                    <td>{{rute.longitude}}</td>
                    <td>
                        <a ng-click="editRute($index)" class="btn waves-effect waves-light">Edit</a>
                        <a ng-click="modalConfirm($index)" class="btn waves-effect waves-light">Hapus</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--MODAL STRUCTURE-->
    <div id="edit-rute-modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s8">
                    <div id="map-picker-rute" style="width: 400px; height: 400px;"></div>
                </div>
                <div class="col s4">
                    <div class="col s12">
                        <label for="lokasi-kordinat-rute">Lokasi</label>
                        <input id="lokasi-kordinat-rute" type="text" class="validate" placeholder="Lokasi">
                    </div>
                    <div class="col s12">
                        <label for="latitude-rute">Latitude</label>
                        <input id="latitude-rute" type="text" class="validate" placeholder="Latitude">
                    </div>
                    <div class="col s12">
                        <label for="longitude-rute">Longitude</label>
                        <input id="longitude-rute" type="text" class="validate" placeholder="Longitude">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="saveEditRute()" class="modal-action modal-close btn red waves-effect waves-light">SIMPAN</a>
            <a class="modal-action modal-close btn-flat waves-effect waves-light">BATAL</a>
        </div>
    </div>
    <div id="tambah-rute" class="modal">
        <div class="modal-content">
            <div class="row">
                <div class="col s8">
                    <div id="map-picker" style="width: 400px; height: 400px;"></div>
                </div>
                <div class="col s4">
                    <div class="col s12">
                        <label for="lokasi">Lokasi</label>
                        <input id="lokasi" type="text" class="validate" placeholder="Lokasi">
                    </div>
                    <div class="col s12">
                        <label for="latitude">Latitude</label>
                        <input id="latitude" type="text" class="validate" placeholder="Latitude">
                    </div>
                    <div class="col s12">
                        <label for="longitude">Longitude</label>
                        <input id="longitude" type="text" class="validate" placeholder="Longitude">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="tambahRute()" class="modal-action modal-close btn red waves-effect waves-light">SIMPAN</a>
            <a class="modal-action modal-close btn-flat waves-effect waves-light">BATAL</a>
        </div>
    </div>
    <div id="confirm" class="modal">
        <div class="modal-content">
            <div class="row">
                <i><b>Yakin Ingin Menghapus Rute !!</b></i>
            </div>
        </div>
        <div class="modal-footer">
            <a ng-click="hapusRute(id_jalan_hapus)" class="modal-action modal-close btn red waves-effect waves-light">Ya</a>
            <a class="modal-action modal-close btn-flat waves-effect waves-light">Tidak</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="public/js/app.js"></script>